<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rule Engine</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    
</head>
<body>
    <h1>Create a Rule</h1>
    
    <form id="rule-form">
        <label for="rule-input">Enter Rule:</label>
        <input type="text" id="rule-input" name="rule-input" required>
        <button type="button" id="create-rule-btn">Create Rule</button>
    </form>

    <script>
        // Assuming you have a form in your UI for rule creation
const createRule = async () => {
    const rule = document.getElementById('rule-input').value;  // Get rule from input
    console.log(rule)
    try {
        const response = await axios.post('http://127.0.0.1:3000/create_rule', {
            rule_string: rule
        }, {
            headers: {
                'Content-Type': 'application/json'
            }
        });

        if (response.status === 201) {
            alert('Rule created successfully!');
        }
    } catch (error) {
        console.error('Error creating rule:', error);
        alert('Failed to create rule');
    }
};


document.getElementById('create-rule-btn').addEventListener('click', createRule);

    </script>
    <!-- <script src="E:\datas\Desktop\Rule_Engine_Project\ui\templates\script.js"></script>  JS logic for creating rule -->
</body>
</html>
